---
import '@picocss/pico/css/pico.min.css';
import '../styles/global.css';
import { Image, getImage } from 'astro:assets';
import detailImage2 from '../assets/detail2.jpg';
import detailImage1 from '../assets/detail1.jpg';
import detailImage3 from '../assets/detail3.jpg';
import detailImage4 from '../assets/detail4.jpg';
import detailImage5 from '../assets/detail5.jpg';
const heroImage = await getImage({src: detailImage5, format: 'webp'});
const pageTitle = "Car Lit O's"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="hero" data-theme="dark" style={`background-image: url(${heroImage.src});`}>
      <nav class="container-fluid">
        <ul>
          <li>
            <a href="./" class="contrast" onclick="event.preventDefault()"
              ><strong>{pageTitle}</strong></a
            >
          </li>
        </ul>
        <ul>
          <li>
            <details role="list" dir="rtl">
              <summary aria-haspopup="listbox" role="link" class="contrast">Theme</summary>
              <ul role="listbox">
                <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                <li><a href="#" data-theme-switcher="light">Light</a></li>
                <li><a href="#" data-theme-switcher="dark">Dark</a></li>
              </ul>
            </details>
          </li>
          <li><a href="#contact" class="contrast">Pricing</a></li>
          <li><a href="#contact" class="contrast">Contact</a></li>
        </ul>
      </nav>
      <header class="container">
        <hgroup>
          <h1>{pageTitle}</h1>
          <h2>Professional, family-friendly auto detailing</h2>
        </hgroup>
        <p><a href="#contact" role="button">Get a quote</a></p>
      </header>
    </div>
    <!-- ./ Hero -->

    <!-- Main -->
    <main class="container">
      <div class="grid">
        <section>
          <hgroup>
            <h2>Welcome to [Your Business Name]</h2>
            <h3>Your Trusted Partner for Premium Auto Detailing Services</h3>
          </hgroup>
          <p>
            At [Your Business Name], we are passionate about keeping your vehicles in pristine condition,
            and we take pride in delivering the highest standards of care for your cars. With years of
            experience and a team of dedicated professionals, we are committed to transforming your
            vehicle into a masterpiece on wheels.
          </p>
          <figure>
            <Image src={detailImage2} alt="A man waxing the hood of a car" />
            <figcaption>
              Image from
              <a href="https://unsplash.com/photos/dlJelFmdpOc" target="_blank">unsplash.com</a>
            </figcaption>
          </figure>
          <h3>Comprehensive Auto Detailing Services</h3>
          <p>
            Our comprehensive auto detailing services encompass everything your car needs to shine.
            Whether you're looking for a thorough interior cleaning to revitalize your cabin, a meticulous
            exterior wash and wax for a brilliant finish, or paint correction to eliminate those pesky
            imperfections, we've got you covered. We use the finest products and cutting-edge techniques
            to ensure your car looks and feels its absolute best. Trust us to treat your vehicle with the
            attention and precision it deserves, from luxury cars to daily drivers. When you choose
            [Your Business Name], you're not just getting a car cleaning; you're getting an experience that
            will leave your vehicle looking and feeling better than the day you first drove it off the lot.
          </p>
          <h3>Get Your Car the Care it Deserves</h3>
          <p>
            Discover the difference that professional auto detailing can make for your car. Contact
            [Your Business Name] today to schedule an appointment and experience the ultimate in automotive
            rejuvenation. Your car deserves the best, and so do you.
          </p>
        </section>

        <aside>
          <a href="#" aria-label="Example" onclick="event.preventDefault()"><Image src={detailImage1} alt="A person sanding a car with a sander" /></a>
          <p>
            <a href="#" onclick="event.preventDefault()">Quality Service</a><br />
            <small>Our expert team ensures the highest quality care for your vehicle.</small>
          </p>
          <a href="#" aria-label="Example" onclick="event.preventDefault()"><Image src={detailImage3} alt="Architecture" /></a>
          <p>
            <a href="#" onclick="event.preventDefault()">Satisfaction Guaranteed</a><br />
            <small>Your satisfaction is our priority. We guarantee your car will look its best.</small>
          </p>
          <a href="#" aria-label="Example" onclick="event.preventDefault()"><Image src={detailImage4} alt="Architecture" /></a>
          <p>
            <a href="#" onclick="event.preventDefault()">Professional Expertise</a><br />
            <small>We bring professionalism and expertise to every detailing job.</small>
          </p>
        </aside>
      </div>
    </main>
    <!-- ./ Main -->

    <!-- Subscribe -->
    <section aria-label="Subscribe example">
      <div class="container">
        <article>
          <hgroup>
            <h2>Contact Us</h2>
            <h3>Let's Discuss Your Car's Needs</h3>
          </hgroup>
          <form id="contact" class="grid" name="contact" method="POST" data-netlify="true">
            <input
              type="text"
              id="firstname"
              name="firstname"
              placeholder="Your First Name"
              aria-label="First Name"
              required
            />
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Your Email Address"
              aria-label="Email Address"
              required
            />
            <button type="submit">Get in Touch</button>
          </form>
        </article>
      </div>
    </section>

    <!-- ./ Subscribe -->

    <!-- Footer -->
    <footer class="container">
      <small
        >Built with <a href="https://picocss.com">Pico</a> •
        <a href="https://github.com/picocss/examples/tree/master/v1-company/">Source code</a></small
      >
    </footer>
    <!-- ./ Footer -->

    <script>
      /*!
       * Minimal theme switcher
       *
       * Pico.css - https://picocss.com
       * Copyright 2019-2023 - Licensed under MIT
       */

      const themeSwitcher = {
        // Config
        _scheme: "auto",
        menuTarget: "details[role='list']",
        buttonsTarget: "a[data-theme-switcher]",
        buttonAttribute: "data-theme-switcher",
        rootAttribute: "data-theme",
        localStorageKey: "picoPreferredColorScheme",

        // Init
        init() {
          this.scheme = this.schemeFromLocalStorage;
          this.initSwitchers();
        },

        // Get color scheme from local storage
        get schemeFromLocalStorage() {
          if (typeof window.localStorage !== "undefined") {
            if (window.localStorage.getItem(this.localStorageKey) !== null) {
              return window.localStorage.getItem(this.localStorageKey);
            }
          }
          return this._scheme;
        },

        // Preferred color scheme
        get preferredColorScheme() {
          return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
        },

        // Init switchers
        initSwitchers() {
          const buttons = document.querySelectorAll(this.buttonsTarget);
          buttons.forEach((button) => {
            button.addEventListener(
              "click",
              (event) => {
                event.preventDefault();
                // Set scheme
                this.scheme = button.getAttribute(this.buttonAttribute);
                // Close dropdown
                document.querySelector(this.menuTarget).removeAttribute("open");
              },
              false
            );
          });
        },

        // Set scheme
        set scheme(scheme) {
          if (scheme == "auto") {
            this.preferredColorScheme == "dark" ? (this._scheme = "dark") : (this._scheme = "light");
          } else if (scheme == "dark" || scheme == "light") {
            this._scheme = scheme;
          }
          this.applyScheme();
          this.schemeToLocalStorage();
        },

        // Get scheme
        get scheme() {
          return this._scheme;
        },

        // Apply scheme
        applyScheme() {
          document.querySelector("html").setAttribute(this.rootAttribute, this.scheme);
        },

        // Store scheme to local storage
        schemeToLocalStorage() {
          if (typeof window.localStorage !== "undefined") {
            window.localStorage.setItem(this.localStorageKey, this.scheme);
          }
        },
      };

      // Init
      themeSwitcher.init();
    </script>
	</body>
</html>
